table {
  background-color: transparent;
  border-color: transparent;
  width: 100%;
  border-collapse: collapse;
}

table th,
table th::before {
  background-color: #2c2c2c;
  color: white;
  text-align: center;
  padding: 8px;
}

table th::before {
  content: attr(data-header);
}

table tr:nth-child(odd) {
  background-color: #2c2c2c;
  opacity: 0.75;
}

table tr:nth-child(even) {
  background-color: #454545;
  opacity: 0.75;
}

table td {
  text-align: center;
  color: white;
  padding: 8px;
}

table tr.isSelected {
  background-color: #7a330d;
  color: #6622CC;
  border-color: #7a330d;
}

table tr:empty:nth-child(odd),
table tr:empty:nth-child(even) {
  background-color: transparent;
}