table-view    {
   background-color: transparent;
   border-color: transparent;
}
table-view column-header,
table-view column-header-background filler {
    background-color: #2c2c2c;
}
table-row-cell:odd {
    background-color: #2c2c2c;
    opacity: 075;
}
table-row-cell:even {
    background-color: #454545;
    opacity: 075;
}
column-header label {
    color: white;
    opacity: 075;
}
table-column {
  text-align: CENTER;
  color: white;
}
table-row-cell:selected {
   background-color: #7a330d;
   color:  #6622CC;
   border-color: #7a330d;
}
table-row-cell:empty:odd, table-row-cell:empty:even {
    background-color: transparent;
}